
            a{
                text-decoration: none;
                color:white;
                padding-left: 10px;
            }
            .b{
                overflow-x:hidden;
                max-width:100%;
                padding:0px;
                margin:0px;

            }
            .header{
                background-image:url("header.jpg");
                height: 410px;
                width:100%;
                margin:0 auto;
                background-size:cover;
                background-position:center;
                opacity:0.9;
                text-align:center;
                text-align: center;
            font-family:sans-serif;
            color:white;
            margin:0px;
            padding-top:20px;
            padding-bottom:60px;
            }
        
        nav a:hover{
            text-decoration:underline;

        }
       
        div a img:hover{
        border-radius: 50%;
        transition:0.3s;
        box-shadow: 0 0 15px 5px white;
        opacity:0.6;
        transform:scale(2);
       }